.courses-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
}
.courses-sidebar {
  margin-top: 100px;
  margin-left: 40px;
}
.courses-sidebar b {
  position: relative;
  bottom: 9px;
  right: 14px;
  font-size: 22px;
  text-decoration: underline;
}

.courses-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
}
.courses-content img {
  width: 265px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* implementing media query  for mobile devices*/

@media only screen and (max-width: 480px) {
  .courses-container {
    display: flex;
    flex-direction: column;
  }
  .courses-content {
    display: block;
  }
  .courses-card {
    margin-bottom: 22px;
  }
  .courses-sidebar {
    margin-top: 0px;
    margin-left: 120px;
    padding-bottom: 11px;
  }
}
